<div class="container">
  <div class="container container-1">
    <div class="col-12"></div>
  </div>
  <div class="container container-2">
    <div class="d-flex justify-content-center">
      <div class="card tremere">
        <img src="../../assets/images/pexels-dima-valkov-5686649.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Tremere</h5>
        </div>
      </div>
      <div class="card ventru">
        <img src="../../assets/images/pexels-kamaji-ogino-5065599.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Ventru</h5>
        </div>
      </div>
      <div class="card toreador">
        <img src="../../assets/images/pexels-tubarones-photography-4654181.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Toreador</h5>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div class="card nosferatu">
        <img src="../../assets/images/pexels-clement-percheron-5755479.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Nosferatu</h5>
        </div>
      </div>
      <div class="card malkevien">
        <img src="../../assets/images/pexels-thaís-falcão-3144121.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Malkevian</h5>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="card brutja">
        <img src="../../assets/images/pexels-fotografierende-6228258.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Brutja</h5>
        </div>
      </div>
      <div class="card caitif">
        <img src="../../assets/images/pexels-joanne-adela-low-3225796.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Caïtif</h5>
        </div>
      </div>
      <div class="card gangrel">
        <img src="../../assets/images/pexels-harrison-haines-3536247.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Gangrel</h5>
        </div>
      </div>

    </div>
  </div>
</div>
