section{
  max-width: 1920px;
  margin: 0 auto;
}

$c-base: #0c020f;
$c-texte: #E5E2E5;
$c-link: #BA1FE1;
$c-link-dark: #631377;

@font-face {
  font-family: 'beth_ellen_2regular';
  src: url("./assets/fonts/Beth-Ellen/beth-ellen-2.0-webfont.woff2") format("woff2"),
       url("./assets/fonts/Beth-Ellen/beth-ellen-2.0-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: $c-base;
  color: $c-texte;
}
.content {
  width: 1440px;
  margin: 0 auto;
}

.container{
  .container{
    float: left;
    position: absolute;
  }
}

.links{
  padding-left: 170px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  display: block;
  div{
    padding-top: 15px;
    border-bottom: $c-texte 1px solid;
    i{
      font-size: 18px;
      float:right;
      color:$c-link;
    }
  }
}

.r-link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 15px;
  border-bottom: $c-texte 1px solid;
  i{
    font-size: 18px;
    float:right;
    color:$c-link;
  }
}

.l-link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 15px;
  text-align: right;
  border-bottom: $c-texte 1px solid;
  i{
    font-size: 18px;
    float:left;
    color:$c-link;
  }
}

.sepia{
  filter: sepia(50%) contrast(150%) saturate(200%) brightness(100%) hue-rotate(-15deg);
}
.cold{
  filter: hue-rotate(180deg) sepia(75%) contrast(150%) saturate(300%) hue-rotate(180deg);
}
.tint-green{
  filter: hue-rotate(-30deg) sepia(75%) contrast(150%) saturate(300%) hue-rotate(30deg);
}
.tint-magenta{
  filter: hue-rotate(-270deg) sepia(55%) contrast(150%) saturate(300%) hue-rotate(270deg);
}
