
<div class="content">
  <div class="ltexte">
    Nul n’a d’emprise sur moi.
    Qu’il soit homme, dieu ou prince.
    Qu’importe l’âge pour ceux qui sont immortels ?
    Qu’importe le pouvoir pour ceux qui défient la mort ?
    Lancez votre maudite chasse. nous verrons bien
    qui je traîne en enfer avec moi.
  </div>
  <div class="bg-home"></div>
  <div class="rtexte">
    <h1>le Monde des Ténèbres</h1>
    <p>En apparence, le Monde des Ténèbres ressemble au nôtre.</p>
    <p>Mais si vous vous aventurez dans les recoins délabrés, abandonnés et dissimulés,
       la véritable nature du Monde des Ténèbres commence à transparaître. C’est un
       endroit abritant des puits de ténèbres secrets et profonds, et vous pouvez
       tomber dans l’un d’entre eux si vous vous laissez guider par les indices qui y
       mènent. La main froide de la femme à la rave sauvage était peut-être un signe
       que vous pouviez suivre pour laisser derrière vous votre vie confortable et
       pénétrer dans un monde de terreurs secrètes.</p>
    </div>
    <div class="links">
      <div><span>Home</span><i routerLink="/home">Link →</i></div>
      <div><span>Main</span><i routerLink="/main">Link →</i></div>
      <div><span>Start</span><i routerLink="/start">Link →</i></div>
      <div><span>Aventures</span><i routerLink="/bynight">Link →</i></div>
      <div><span>Vampires</span><i routerLink="/vampires">Link →</i></div>
    </div>
</div>


